.color_font_green{
    color: #094d00;
}

.color_font_red{
    color: red;
}

.logo_header{
    height: 30px;
    width: 30px;
}

.active {
    font-weight:bold;
}

.none {
    display: none !important;
}

.nav_link{
    margin: 10px;
}

.notebook_model {
    color: #094d00;
}
.notebook_mark {
    margin: 10px 0 0 0;
    display: block;
}

.notebook_count {
    margin: 10px 0 0 0;
    display: block;
}

.article {
    background: #A8FF80;
    border: 1px solid rgba(9, 77, 0, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(9, 77, 0);
    padding: 3px 5px;
}

header {
    background-color: #a8ff80;
    color: #094d00;
    height: 130px;
    padding: 10px 50px;
}


nav {
    background-color: #e4ffff;
    margin-bottom: 20px;
    height: 73px;
}

body {
    background-image: url('https://sun9-2.userapi.com/c639830/v639830454/4c95c/GE9BS9sBBNY.jpg');
}

menu {
    padding: 0;

}

article {
    float: left;
    margin-bottom: 30px;
    padding: 15px 15px;
    width: 74%;
    overflow: hidden;
}

main {
    margin: 0 auto;
    width: 1170px;
    display: block;
}

aside {
    margin: 0 20px 0 0;
    float: left;
    padding-right: 40px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:relative;
}

footer {
    background-color: #a8ff80;
    clear: both;
    color: #094d00;
    padding: 50px 20px;
}

p {
    margin: 0 0 5px;
}